
.loader{
    height: 100px;
    width: 100px;
    margin: 0px auto;
    border: 10px solid rgb(203, 194, 194);
    border-top: 10px solid rgb(24, 19, 91);
    border-radius: 50%;
    
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}